//css code
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.myproject-image-container {
    height: 50vh;
}

.project-m-heading {
    font-size: 32px;
    font-family: "Bree Serif";
    color: #183b56;
}

.project-paragraph {
    font-size: 16px;
    font-family: "Bree Serif";
    color: #616e7c;
}

.text-align {
    text-align: center;
}

.image1 {
    height: 30vh;
    width: 50vw;
}

.image2 {
    height: 30vh;
    width: 50vw;
}

.image3 {
    height: 30vh;
    width: 50vw;
}

.image4 {
    height: 30vh;
    width: 50vw;
}

.padding {
    padding: 15px;
}



.bg-container {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/advanced-technologies-img.png");
    height: 100vh;
    width: 100vw;
    background-size: cover;
}

.bg-card-container {
    background-color: #ffffff;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 25px;
}

.bg-card-m-heading {
    color: #5752ab;
    font-family: Bree Serif;
    font-size: 30px;
}

.paragraph {
    font-family: "Roboto";
    color: #323f4b;
}

.button1 {
    background-color: #ffffff;
    color: #171f46;
    border-color: #d7dfe9;
    border-radius: 8px;
    margin: 5px;
}

.button2 {
    background-color: #5752ab;
    color: #ffffff;
    border-color: #d7dfe9;
    border-radius: 8px;
    margin: 5px;
}



.diwali-top-section {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/diwali-bg.png");
    height: 30vh;
    background-size: cover;
}

.diwali-top-section-heading {
    color: white;
    font-family: "Caveat";
    font-size: 36px;
    width: 200px;
    padding: 20px;
}

.diwali-bottom-section {
    text-align: center;
    background-color: #e6f6ff;
    padding: 15px;
}

.diwali-card-item {
    text-align: center;
    background-color: white;
    width: 140px;
    border-radius: 9px;
    padding: 16px;
    margin: 15px;
}

.diwali-card-image {
    height: 64px;
    width: 64px;
}

.diwali-card-name {
    color: #616e7c;
    font-family: "Roboto";
    font-size: 12px;
    font-weight: normal;
}

.diwali-card-price {
    color: #323f4b;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 500;
}



.bg-container1 {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/foodbg.png");
    height: 100vh;
    width: 100vw;
    background-size: cover;
    color: #323f4b;
}

.card {
    background-color: #f6c56e;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    padding: 20px;
}

.button {
    background-color: #ffffff;
    font-family: Roboto;
    border-radius: 7px;
    border-width: 0px;
    text-align: center;
    font-size: 5p;
}

.paragrap {
    font-family: Roboto;
}

.m-heading {
    font-family: Bree Serif;
}


.bg-image-container {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/newsbg.png");
    height: 100vh;
    width: 100vw;
    background-size: cover;
}

.bg-card-container {
    background-color: #ffffff;
    padding: 25px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.bg-m-heading1 {
    font-size: 15px;
    color: #323f4b;
    font-family: "Roboto";
}

.bg-m-heading2 {
    font-size: 25px;
    color: #323f4b;
    font-family: "Roboto";
}

.paragraph {
    color: #7b8794;
    font-family: "Roboto";
}

.button {
    background-color: #323f4b;
    color: #ffffff;
    border-radius: 8px;
}
